<%- include('blocks/header', {bot, user, path}) %>
  <div class="jumbotron">
    <div>
      <h1><%= bot.user.username %> Kontrol Paneli</h1>
      <h4><% if(bot.appInfo.description.length > 3) { %> <%= bot.appInfo.description %> <% } else { %>Sarito Kontrol Paneline Hoş Geldiniz Bot İle Alakalı çoğu şeyi buradan kolayca yönetebilirsiniz. eğer aklınızdaki soru neden 2 kontrol paneli ise hemen açıklayayım.size sunacağımız hizmetin elimizden geldikçe en iyisi olmasını istiyoruz bu paneldeki db kodları 6.3.2 ile çalışır iken diğer paneldeki kodlarımız 7.0.0-b22 ssürümünde çalışıyor ve birbirine kodlar uymuyor bu sebep ile 2panel.<% }%></h4>
      <p><a class="btn btn-primary" href="/commands" role="button">Komutlar »</a></p>
    </div>
  </div>
<% include ./blocks/footer %>